AI-Powered Customer Support Automation.blueprint.json
{
    "name": "AI-Powered Customer Support Automation",
    "flow": [
        {
            "id": 1,
            "module": "google-email:triggerWatchNewEmails",
            "version": 4,
            "parameters": {
                "from": "",
                "size": {
                    "unit": "M",
                    "amount": null,
                    "criteria": "larger"
                },
                "limit": 1,
                "folder": "INBOX",
                "format": "full",
                "subject": "",
                "criteria": "all",
                "labelIds": "",
                "markSeen": true,
                "filterType": "simpleSearch",
                "__IMTCONN__": 8473621,
                "excludeWords": "",
                "includeWords": "",
                "hasAttachment": false
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "size": {
                            "nested": {
                                "unit": {
                                    "label": "MB (megabytes)"
                                },
                                "criteria": {
                                    "label": "Greater than"
                                }
                            }
                        },
                        "folder": {
                            "label": "Inbox"
                        },
                        "format": {
                            "label": "Full content"
                        },
                        "criteria": {
                            "label": "All messages"
                        },
                        "labelIds": {
                            "label": "Empty"
                        },
                        "filterType": {
                            "label": "Simple filter"
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-email"
                            },
                            "label": "Love Gmail - Support"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-email",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "filterType",
                        "type": "select",
                        "label": "Filter type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "simpleSearch",
                                "gmailSearch"
                            ]
                        }
                    },
                    {
                        "name": "format",
                        "type": "select",
                        "label": "Content format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "full",
                                "raw",
                                "metadata",
                                "minimal"
                            ]
                        }
                    },
                    {
                        "name": "folder",
                        "type": "select",
                        "label": "Folder",
                        "required": true
                    },
                    {
                        "name": "labelIds",
                        "type": "select",
                        "label": "Label"
                    },
                    {
                        "name": "criteria",
                        "type": "select",
                        "label": "Criteria",
                        "required": true,
                        "validate": {
                            "enum": [
                                "all",
                                "is:read",
                                "is:unread"
                            ]
                        }
                    },
                    {
                        "name": "markSeen",
                        "type": "boolean",
                        "label": "Mark email message(s) as read when fetched"
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true,
                        "validate": {
                            "max": 500
                        }
                    },
                    {
                        "name": "from",
                        "type": "email",
                        "label": "Sender email address"
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "includeWords",
                        "type": "text",
                        "label": "Has the words"
                    },
                    {
                        "name": "excludeWords",
                        "type": "text",
                        "label": "Doesn't have"
                    },
                    {
                        "name": "size",
                        "spec": [
                            {
                                "name": "criteria",
                                "type": "select",
                                "label": "Criteria",
                                "validate": {
                                    "enum": [
                                        "larger",
                                        "smaller"
                                    ]
                                }
                            },
                            {
                                "name": "amount",
                                "type": "integer",
                                "label": "Size",
                                "validate": {
                                    "min": 0
                                }
                            },
                            {
                                "name": "unit",
                                "type": "select",
                                "label": "Size unit",
                                "validate": {
                                    "enum": [
                                        "M",
                                        "K",
                                        "bytes"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Email size"
                    },
                    {
                        "name": "hasAttachment",
                        "type": "boolean",
                        "label": "Only emails with attachments/media",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Message ID"
                    },
                    {
                        "name": "threadId",
                        "type": "text",
                        "label": "Thread ID"
                    },
                    {
                        "name": "internalDate",
                        "type": "date",
                        "label": "Date"
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject",
                        "condition": true
                    },
                    {
                        "name": "fromName",
                        "type": "text",
                        "label": "From (name)",
                        "condition": true
                    },
                    {
                        "name": "fromEmail",
                        "type": "text",
                        "label": "From (email)",
                        "condition": true
                    },
                    {
                        "name": "to",
                        "spec": {
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                },
                                {
                                    "name": "email",
                                    "type": "text",
                                    "label": "Email"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "To",
                        "condition": true
                    },
                    {
                        "name": "cc",
                        "spec": [
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "CC",
                        "condition": true
                    },
                    {
                        "name": "bcc",
                        "spec": [
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "BCC",
                        "condition": true
                    },
                    {
                        "name": "snippet",
                        "type": "text",
                        "label": "Snippet"
                    },
                    {
                        "name": "fullTextBody",
                        "type": "text",
                        "label": "Full text body",
                        "condition": true
                    },
                    {
                        "name": "htmlBody",
                        "type": "text",
                        "label": "HTML body",
                        "condition": true
                    },
                    {
                        "name": "hasAttachment",
                        "type": "boolean",
                        "label": "Has attachment",
                        "condition": true
                    },
                    {
                        "name": "hasMedia",
                        "type": "boolean",
                        "label": "Has media",
                        "condition": true
                    },
                    {
                        "name": "sysFolders",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "System folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "System folder name"
                            }
                        ],
                        "type": "array",
                        "label": "System folders"
                    },
                    {
                        "name": "categoryFolders",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Category folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Category folder name"
                            }
                        ],
                        "type": "array",
                        "label": "Category folders"
                    },
                    {
                        "name": "userLabelFolders",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "User label folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "User label folder name"
                            }
                        ],
                        "type": "array",
                        "label": "User label folders"
                    },
                    {
                        "name": "labelIds",
                        "spec": {
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Message folder IDs"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "Delivered-To",
                                "type": "text",
                                "label": "Delivered-To"
                            },
                            {
                                "name": "Received",
                                "type": "text",
                                "label": "Received"
                            },
                            {
                                "name": "Date",
                                "type": "text",
                                "label": "Date (header)"
                            },
                            {
                                "name": "X-Original-Sender",
                                "type": "text"
                            },
                            {
                                "name": "Reply-To",
                                "type": "text"
                            },
                            {
                                "name": "Subject",
                                "type": "text",
                                "label": "Subject"
                            },
                            {
                                "name": "From",
                                "type": "text",
                                "label": "From"
                            },
                            {
                                "name": "To",
                                "type": "text",
                                "label": "To"
                            },
                            {
                                "name": "Message-ID",
                                "type": "text",
                                "label": "Message-ID"
                            },
                            {
                                "name": "In-Reply-To",
                                "type": "text",
                                "label": "In-Reply-To"
                            }
                        ],
                        "type": "collection",
                        "label": "Headers",
                        "condition": true
                    },
                    {
                        "name": "sizeEstimate",
                        "type": "number",
                        "label": "Size estimate"
                    },
                    {
                        "name": "historyId",
                        "type": "text",
                        "label": "History ID"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 3,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "authenticationType": "noAuth",
                "tlsType": ""
            },
            "mapper": {
                "url": "https://api.groq.com/openai/v1/chat/completions",
                "method": "post",
                "headers": [
                    {
                        "name": "Content-Type",
                        "value": "application/json"
                    },
                    {
                        "name": "Authorization",
                        "value": "Bearer YOUR_GROQ_API_KEY"
                    }
                ],
                "contentType": "json",
                "parseResponse": true,
                "stopOnHttpError": true,
                "allowRedirects": true,
                "shareCookies": false,
                "requestCompressedContent": true,
                "inputMethod": "dataStructure",
                "bodyDataStructure": 467607,
                "dataStructureBodyContent": {
                    "model": "llama-3.3-70b-versatile",
                    "messages": [
                        {
                            "role": "system",
                            "content": "You are a customer support classifier. Classify the email into exactly one of these categories: Billing, Technical, General, Urgent. Reply with only the category word, nothing else."
                        },
                        {
                            "role": "user",
                            "content": "{{1.fullTextBody}}"
                        }
                    ]
                }
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        },
                        "tlsType": {
                            "label": "Empty"
                        }
                    },
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null,
                                null
                            ]
                        },
                        "queryParameters": {
                            "mode": "chose"
                        },
                        "contentType": {
                            "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        },
                        "inputMethod": {
                            "label": "Data structureDefine the JSON body with a data structure to map or enter values for each key. JSON reserved characters are escaped automatically."
                        },
                        "bodyDataStructure": {
                            "label": "Groq Request 2"
                        },
                        "dataStructureBodyContent": {
                            "nested": {
                                "messages": {
                                    "mode": "chose",
                                    "items": [
                                        null,
                                        null
                                    ]
                                }
                            }
                        },
                        "paginationType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": {
                            "name": "value",
                            "label": "Header",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "name",
                                    "label": "Name",
                                    "type": "text",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "label": "Value",
                                    "type": "text"
                                }
                            ]
                        }
                    },
                    {
                        "name": "queryParameters",
                        "type": "array",
                        "label": "Query parameters",
                        "spec": {
                            "name": "value",
                            "label": "Parameter",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "name",
                                    "label": "Name",
                                    "type": "text",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "label": "Value",
                                    "type": "text"
                                }
                            ]
                        }
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "min": 1,
                            "max": 300
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "inputMethod",
                        "type": "select",
                        "label": "Body input method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "dataStructure",
                                "jsonString"
                            ]
                        }
                    },
                    {
                        "name": "bodyDataStructure",
                        "type": "udt",
                        "label": "Body structure",
                        "required": true
                    },
                    {
                        "name": "dataStructureBodyContent",
                        "type": "collection",
                        "label": "Body content",
                        "spec": [
                            {
                                "name": "model",
                                "type": "text",
                                "label": "Model"
                            },
                            {
                                "name": "messages",
                                "type": "array",
                                "label": "Messages",
                                "spec": {
                                    "type": "collection",
                                    "spec": [
                                        {
                                            "name": "role",
                                            "label": null,
                                            "type": "text"
                                        },
                                        {
                                            "name": "content",
                                            "label": null,
                                            "type": "text"
                                        }
                                    ],
                                    "name": "value"
                                }
                            }
                        ]
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "label": "Data",
                        "type": "any"
                    },
                    {
                        "name": "statusCode",
                        "label": "Status Code",
                        "type": "number"
                    },
                    {
                        "name": "headers",
                        "label": "Headers",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "content-length",
                                "label": "Content-Length",
                                "type": "text"
                            },
                            {
                                "name": "content-encoding",
                                "label": "Content-Encoding",
                                "type": "text"
                            },
                            {
                                "name": "content-type",
                                "label": "Content-Type",
                                "type": "text"
                            },
                            {
                                "name": "server",
                                "label": "Server",
                                "type": "text"
                            },
                            {
                                "name": "cache-control",
                                "label": "Cache-Control",
                                "type": "text"
                            },
                            {
                                "name": "set-cookie",
                                "label": "Set-Cookie",
                                "type": "array",
                                "spec": {
                                    "type": "text"
                                }
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 7,
                            "module": "google-email:replyToAnEmail",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 8473621
                            },
                            "filter": {
                                "name": "Billing",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.data.choices[].message.content}}",
                                            "b": "Billing",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "content": "Thank you for contacting us regarding your billing enquiry. Our billing team has received your message and will respond within 24 hours. Reference: {{1.id}}",
                                "bodyType": "rawHtml",
                                "threadId": "{{1.threadId}}",
                                "replyMode": "sender"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": -450
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "bodyType": {
                                            "label": "Raw HTML"
                                        },
                                        "replyMode": {
                                            "mode": "chose",
                                            "label": "Reply to sender only"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "emailHeaders": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-email"
                                            },
                                            "label": "Love Gmail - Support (chitogodslove68@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-email",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "threadId",
                                        "type": "text",
                                        "label": "Thread ID",
                                        "required": true
                                    },
                                    {
                                        "name": "replyMode",
                                        "type": "select",
                                        "label": "Reply mode",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "all",
                                                "sender",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "From"
                                    },
                                    {
                                        "name": "emailHeaders",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Key",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Email header"
                                        },
                                        "type": "array",
                                        "label": "Additional email headers"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "rawHtml",
                                                "collection"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "filename",
                                                    "type": "filename",
                                                    "label": "File name",
                                                    "required": true,
                                                    "semantic": "file:name"
                                                },
                                                {
                                                    "name": "data",
                                                    "type": "buffer",
                                                    "label": "Data",
                                                    "required": true,
                                                    "semantic": "file:data"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Attachment"
                                        },
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 13,
                            "module": "airtable:ActionCreateRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 8393523
                            },
                            "mapper": {
                                "base": "appp66QdLQl2pOSNw",
                                "table": "tblMvFgZipOo1iPw4",
                                "record": {
                                    "fld14Q4yGeYJmSPza": "{{1.fromName}}",
                                    "fld2qbzKlP8J0rEK8": "{{1.subject}}",
                                    "fld8pN7EYeGGyzusG": "{{3.data.choices[].message.content}}",
                                    "fldUIXxx2UcPpPzhy": "Open",
                                    "fldcX8Sn7CKF79bkg": "{{1.fromEmail}}",
                                    "fldhVarrwiHy1DYlx": "{{1.internalDate}}",
                                    "fldrGUowoUdpQuzRB": "{{1.fullTextBody}}"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1324,
                                    "y": -453
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "Customer Support"
                                        },
                                        "table": {
                                            "label": "Support Tickets",
                                            "nested": [
                                                {
                                                    "name": "record",
                                                    "spec": [
                                                        {
                                                            "name": "fld14Q4yGeYJmSPza",
                                                            "type": "text",
                                                            "label": "Customer Name"
                                                        },
                                                        {
                                                            "name": "fldcX8Sn7CKF79bkg",
                                                            "type": "text",
                                                            "label": "Email"
                                                        },
                                                        {
                                                            "name": "fld2qbzKlP8J0rEK8",
                                                            "type": "text",
                                                            "label": "Subject"
                                                        },
                                                        {
                                                            "name": "fldrGUowoUdpQuzRB",
                                                            "type": "text",
                                                            "label": "Message",
                                                            "multiline": true
                                                        },
                                                        {
                                                            "mode": "edit",
                                                            "name": "fld8pN7EYeGGyzusG",
                                                            "type": "select",
                                                            "label": "Category",
                                                            "dynamic": true,
                                                            "options": [
                                                                {
                                                                    "label": "Billing",
                                                                    "value": "Billing"
                                                                },
                                                                {
                                                                    "label": "Technical",
                                                                    "value": "Technical"
                                                                },
                                                                {
                                                                    "label": "General",
                                                                    "value": "General"
                                                                },
                                                                {
                                                                    "label": "Urgent",
                                                                    "value": "Urgent"
                                                                }
                                                            ],
                                                            "validate": false
                                                        },
                                                        {
                                                            "mode": "edit",
                                                            "name": "fldUIXxx2UcPpPzhy",
                                                            "type": "select",
                                                            "label": "Status",
                                                            "dynamic": true,
                                                            "options": [
                                                                {
                                                                    "label": "Open",
                                                                    "value": "Open"
                                                                },
                                                                {
                                                                    "label": "In Progress",
                                                                    "value": "In Progress"
                                                                },
                                                                {
                                                                    "label": "Resolved",
                                                                    "value": "Resolved"
                                                                }
                                                            ],
                                                            "validate": false
                                                        },
                                                        {
                                                            "name": "fldhVarrwiHy1DYlx",
                                                            "time": false,
                                                            "type": "date",
                                                            "label": "Date Received"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Record"
                                                }
                                            ]
                                        },
                                        "record": {
                                            "nested": {
                                                "fld8pN7EYeGGyzusG": {
                                                    "mode": "edit"
                                                },
                                                "fldUIXxx2UcPpPzhy": {
                                                    "mode": "edit"
                                                }
                                            }
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "My Airtable OAuth connection (User ID: usrqW17vGpF6H5dwL)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fld14Q4yGeYJmSPza",
                                                "type": "text",
                                                "label": "Customer Name"
                                            },
                                            {
                                                "name": "fldcX8Sn7CKF79bkg",
                                                "type": "text",
                                                "label": "Email"
                                            },
                                            {
                                                "name": "fld2qbzKlP8J0rEK8",
                                                "type": "text",
                                                "label": "Subject"
                                            },
                                            {
                                                "name": "fldrGUowoUdpQuzRB",
                                                "type": "text",
                                                "label": "Message"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fld8pN7EYeGGyzusG",
                                                "type": "select",
                                                "label": "Category"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldUIXxx2UcPpPzhy",
                                                "type": "select",
                                                "label": "Status"
                                            },
                                            {
                                                "name": "fldhVarrwiHy1DYlx",
                                                "time": false,
                                                "type": "date",
                                                "label": "Date Received"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Customer Name",
                                        "type": "text",
                                        "label": "Customer Name"
                                    },
                                    {
                                        "name": "Email",
                                        "type": "text",
                                        "label": "Email"
                                    },
                                    {
                                        "name": "Subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "Message",
                                        "type": "text",
                                        "label": "Message",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Category",
                                        "type": "text",
                                        "label": "Category"
                                    },
                                    {
                                        "name": "Status",
                                        "type": "text",
                                        "label": "Status"
                                    },
                                    {
                                        "name": "Date Received",
                                        "time": false,
                                        "type": "date",
                                        "label": "Date Received"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 8,
                            "module": "google-email:replyToAnEmail",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 8473621
                            },
                            "filter": {
                                "name": "Technical",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.data.choices[].message.content}}",
                                            "b": "Technical",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "content": "Thank you for contacting us. Our technical team has received your issue and will respond within 4 hours. Reference: {{1.id}}",
                                "bodyType": "rawHtml",
                                "threadId": "{{1.threadId}}",
                                "replyMode": "sender"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": -150
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "mode": "chose"
                                        },
                                        "bodyType": {
                                            "label": "Raw HTML"
                                        },
                                        "replyMode": {
                                            "mode": "chose",
                                            "label": "Reply to sender only"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "emailHeaders": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-email"
                                            },
                                            "label": "Love Gmail - Support (chitogodslove68@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-email",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "threadId",
                                        "type": "text",
                                        "label": "Thread ID",
                                        "required": true
                                    },
                                    {
                                        "name": "replyMode",
                                        "type": "select",
                                        "label": "Reply mode",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "all",
                                                "sender",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "From"
                                    },
                                    {
                                        "name": "emailHeaders",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Key",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Email header"
                                        },
                                        "type": "array",
                                        "label": "Additional email headers"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "rawHtml",
                                                "collection"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "filename",
                                                    "type": "filename",
                                                    "label": "File name",
                                                    "required": true,
                                                    "semantic": "file:name"
                                                },
                                                {
                                                    "name": "data",
                                                    "type": "buffer",
                                                    "label": "Data",
                                                    "required": true,
                                                    "semantic": "file:data"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Attachment"
                                        },
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 14,
                            "module": "airtable:ActionCreateRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 8393523
                            },
                            "mapper": {
                                "base": "appp66QdLQl2pOSNw",
                                "table": "tblMvFgZipOo1iPw4",
                                "record": {
                                    "fld14Q4yGeYJmSPza": "{{1.fromName}}",
                                    "fld2qbzKlP8J0rEK8": "{{1.subject}}",
                                    "fld8pN7EYeGGyzusG": "{{3.data.choices[].message.content}}",
                                    "fldUIXxx2UcPpPzhy": "Open",
                                    "fldcX8Sn7CKF79bkg": "{{1.fromEmail}}",
                                    "fldhVarrwiHy1DYlx": "{{1.internalDate}}",
                                    "fldrGUowoUdpQuzRB": "{{1.fullTextBody}}"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1345,
                                    "y": -150
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "Customer Support"
                                        },
                                        "table": {
                                            "label": "Support Tickets",
                                            "nested": [
                                                {
                                                    "name": "record",
                                                    "spec": [
                                                        {
                                                            "name": "fld14Q4yGeYJmSPza",
                                                            "type": "text",
                                                            "label": "Customer Name"
                                                        },
                                                        {
                                                            "name": "fldcX8Sn7CKF79bkg",
                                                            "type": "text",
                                                            "label": "Email"
                                                        },
                                                        {
                                                            "name": "fld2qbzKlP8J0rEK8",
                                                            "type": "text",
                                                            "label": "Subject"
                                                        },
                                                        {
                                                            "name": "fldrGUowoUdpQuzRB",
                                                            "type": "text",
                                                            "label": "Message",
                                                            "multiline": true
                                                        },
                                                        {
                                                            "mode": "edit",
                                                            "name": "fld8pN7EYeGGyzusG",
                                                            "type": "select",
                                                            "label": "Category",
                                                            "dynamic": true,
                                                            "options": [
                                                                {
                                                                    "label": "Billing",
                                                                    "value": "Billing"
                                                                },
                                                                {
                                                                    "label": "Technical",
                                                                    "value": "Technical"
                                                                },
                                                                {
                                                                    "label": "General",
                                                                    "value": "General"
                                                                },
                                                                {
                                                                    "label": "Urgent",
                                                                    "value": "Urgent"
                                                                }
                                                            ],
                                                            "validate": false
                                                        },
                                                        {
                                                            "mode": "edit",
                                                            "name": "fldUIXxx2UcPpPzhy",
                                                            "type": "select",
                                                            "label": "Status",
                                                            "dynamic": true,
                                                            "options": [
                                                                {
                                                                    "label": "Open",
                                                                    "value": "Open"
                                                                },
                                                                {
                                                                    "label": "In Progress",
                                                                    "value": "In Progress"
                                                                },
                                                                {
                                                                    "label": "Resolved",
                                                                    "value": "Resolved"
                                                                }
                                                            ],
                                                            "validate": false
                                                        },
                                                        {
                                                            "name": "fldhVarrwiHy1DYlx",
                                                            "time": false,
                                                            "type": "date",
                                                            "label": "Date Received"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Record"
                                                }
                                            ]
                                        },
                                        "record": {
                                            "nested": {
                                                "fld8pN7EYeGGyzusG": {
                                                    "mode": "edit"
                                                },
                                                "fldUIXxx2UcPpPzhy": {
                                                    "mode": "edit"
                                                }
                                            }
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "My Airtable OAuth connection (User ID: usrqW17vGpF6H5dwL)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fld14Q4yGeYJmSPza",
                                                "type": "text",
                                                "label": "Customer Name"
                                            },
                                            {
                                                "name": "fldcX8Sn7CKF79bkg",
                                                "type": "text",
                                                "label": "Email"
                                            },
                                            {
                                                "name": "fld2qbzKlP8J0rEK8",
                                                "type": "text",
                                                "label": "Subject"
                                            },
                                            {
                                                "name": "fldrGUowoUdpQuzRB",
                                                "type": "text",
                                                "label": "Message"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fld8pN7EYeGGyzusG",
                                                "type": "select",
                                                "label": "Category"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldUIXxx2UcPpPzhy",
                                                "type": "select",
                                                "label": "Status"
                                            },
                                            {
                                                "name": "fldhVarrwiHy1DYlx",
                                                "time": false,
                                                "type": "date",
                                                "label": "Date Received"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Customer Name",
                                        "type": "text",
                                        "label": "Customer Name"
                                    },
                                    {
                                        "name": "Email",
                                        "type": "text",
                                        "label": "Email"
                                    },
                                    {
                                        "name": "Subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "Message",
                                        "type": "text",
                                        "label": "Message",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Category",
                                        "type": "text",
                                        "label": "Category"
                                    },
                                    {
                                        "name": "Status",
                                        "type": "text",
                                        "label": "Status"
                                    },
                                    {
                                        "name": "Date Received",
                                        "time": false,
                                        "type": "date",
                                        "label": "Date Received"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 9,
                            "module": "google-email:replyToAnEmail",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 8473621
                            },
                            "filter": {
                                "name": "General",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.data.choices[].message.content}}",
                                            "b": "General",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "content": "Thank you for contacting us. We have received your enquiry and will respond within 48 hours. Reference: {{1.id}}",
                                "bodyType": "rawHtml",
                                "threadId": "{{1.threadId}}",
                                "replyMode": "sender"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 150
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "bodyType": {
                                            "label": "Raw HTML"
                                        },
                                        "replyMode": {
                                            "mode": "chose",
                                            "label": "Reply to sender only"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "emailHeaders": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-email"
                                            },
                                            "label": "Love Gmail - Support (chitogodslove68@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-email",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "threadId",
                                        "type": "text",
                                        "label": "Thread ID",
                                        "required": true
                                    },
                                    {
                                        "name": "replyMode",
                                        "type": "select",
                                        "label": "Reply mode",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "all",
                                                "sender",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "From"
                                    },
                                    {
                                        "name": "emailHeaders",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Key",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Email header"
                                        },
                                        "type": "array",
                                        "label": "Additional email headers"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "rawHtml",
                                                "collection"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "filename",
                                                    "type": "filename",
                                                    "label": "File name",
                                                    "required": true,
                                                    "semantic": "file:name"
                                                },
                                                {
                                                    "name": "data",
                                                    "type": "buffer",
                                                    "label": "Data",
                                                    "required": true,
                                                    "semantic": "file:data"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Attachment"
                                        },
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 15,
                            "module": "airtable:ActionCreateRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 8393523
                            },
                            "mapper": {
                                "base": "appp66QdLQl2pOSNw",
                                "table": "tblMvFgZipOo1iPw4",
                                "record": {
                                    "fld14Q4yGeYJmSPza": "{{1.fromName}}",
                                    "fld2qbzKlP8J0rEK8": "{{1.subject}}",
                                    "fld8pN7EYeGGyzusG": "{{3.data.choices[].message.content}}",
                                    "fldUIXxx2UcPpPzhy": "Open",
                                    "fldcX8Sn7CKF79bkg": "{{1.fromEmail}}",
                                    "fldhVarrwiHy1DYlx": "{{1.internalDate}}",
                                    "fldrGUowoUdpQuzRB": "{{1.fullTextBody}}"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1345,
                                    "y": 148
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "Customer Support"
                                        },
                                        "table": {
                                            "label": "Support Tickets",
                                            "nested": [
                                                {
                                                    "name": "record",
                                                    "spec": [
                                                        {
                                                            "name": "fld14Q4yGeYJmSPza",
                                                            "type": "text",
                                                            "label": "Customer Name"
                                                        },
                                                        {
                                                            "name": "fldcX8Sn7CKF79bkg",
                                                            "type": "text",
                                                            "label": "Email"
                                                        },
                                                        {
                                                            "name": "fld2qbzKlP8J0rEK8",
                                                            "type": "text",
                                                            "label": "Subject"
                                                        },
                                                        {
                                                            "name": "fldrGUowoUdpQuzRB",
                                                            "type": "text",
                                                            "label": "Message",
                                                            "multiline": true
                                                        },
                                                        {
                                                            "mode": "edit",
                                                            "name": "fld8pN7EYeGGyzusG",
                                                            "type": "select",
                                                            "label": "Category",
                                                            "dynamic": true,
                                                            "options": [
                                                                {
                                                                    "label": "Billing",
                                                                    "value": "Billing"
                                                                },
                                                                {
                                                                    "label": "Technical",
                                                                    "value": "Technical"
                                                                },
                                                                {
                                                                    "label": "General",
                                                                    "value": "General"
                                                                },
                                                                {
                                                                    "label": "Urgent",
                                                                    "value": "Urgent"
                                                                }
                                                            ],
                                                            "validate": false
                                                        },
                                                        {
                                                            "mode": "edit",
                                                            "name": "fldUIXxx2UcPpPzhy",
                                                            "type": "select",
                                                            "label": "Status",
                                                            "dynamic": true,
                                                            "options": [
                                                                {
                                                                    "label": "Open",
                                                                    "value": "Open"
                                                                },
                                                                {
                                                                    "label": "In Progress",
                                                                    "value": "In Progress"
                                                                },
                                                                {
                                                                    "label": "Resolved",
                                                                    "value": "Resolved"
                                                                }
                                                            ],
                                                            "validate": false
                                                        },
                                                        {
                                                            "name": "fldhVarrwiHy1DYlx",
                                                            "time": false,
                                                            "type": "date",
                                                            "label": "Date Received"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Record"
                                                }
                                            ]
                                        },
                                        "record": {
                                            "nested": {
                                                "fld8pN7EYeGGyzusG": {
                                                    "mode": "edit"
                                                },
                                                "fldUIXxx2UcPpPzhy": {
                                                    "mode": "edit"
                                                }
                                            }
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "My Airtable OAuth connection (User ID: usrqW17vGpF6H5dwL)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fld14Q4yGeYJmSPza",
                                                "type": "text",
                                                "label": "Customer Name"
                                            },
                                            {
                                                "name": "fldcX8Sn7CKF79bkg",
                                                "type": "text",
                                                "label": "Email"
                                            },
                                            {
                                                "name": "fld2qbzKlP8J0rEK8",
                                                "type": "text",
                                                "label": "Subject"
                                            },
                                            {
                                                "name": "fldrGUowoUdpQuzRB",
                                                "type": "text",
                                                "label": "Message"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fld8pN7EYeGGyzusG",
                                                "type": "select",
                                                "label": "Category"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldUIXxx2UcPpPzhy",
                                                "type": "select",
                                                "label": "Status"
                                            },
                                            {
                                                "name": "fldhVarrwiHy1DYlx",
                                                "time": false,
                                                "type": "date",
                                                "label": "Date Received"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Customer Name",
                                        "type": "text",
                                        "label": "Customer Name"
                                    },
                                    {
                                        "name": "Email",
                                        "type": "text",
                                        "label": "Email"
                                    },
                                    {
                                        "name": "Subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "Message",
                                        "type": "text",
                                        "label": "Message",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Category",
                                        "type": "text",
                                        "label": "Category"
                                    },
                                    {
                                        "name": "Status",
                                        "type": "text",
                                        "label": "Status"
                                    },
                                    {
                                        "name": "Date Received",
                                        "time": false,
                                        "type": "date",
                                        "label": "Date Received"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 11,
                            "module": "google-email:replyToAnEmail",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 8473621
                            },
                            "filter": {
                                "name": "Urgent",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.data.choices[].message.content}}",
                                            "b": "Urgent",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "content": "URGENT: We have received your message and a senior agent will contact you within 1 hour. Reference: {{1.id}}",
                                "bodyType": "rawHtml",
                                "threadId": "{{1.threadId}}",
                                "replyMode": "sender"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 450
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "mode": "chose"
                                        },
                                        "bodyType": {
                                            "label": "Raw HTML"
                                        },
                                        "replyMode": {
                                            "mode": "chose",
                                            "label": "Reply to sender only"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "emailHeaders": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-email"
                                            },
                                            "label": "Love Gmail - Support (chitogodslove68@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-email",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "threadId",
                                        "type": "text",
                                        "label": "Thread ID",
                                        "required": true
                                    },
                                    {
                                        "name": "replyMode",
                                        "type": "select",
                                        "label": "Reply mode",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "all",
                                                "sender",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "From"
                                    },
                                    {
                                        "name": "emailHeaders",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Key",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Email header"
                                        },
                                        "type": "array",
                                        "label": "Additional email headers"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "rawHtml",
                                                "collection"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "filename",
                                                    "type": "filename",
                                                    "label": "File name",
                                                    "required": true,
                                                    "semantic": "file:name"
                                                },
                                                {
                                                    "name": "data",
                                                    "type": "buffer",
                                                    "label": "Data",
                                                    "required": true,
                                                    "semantic": "file:data"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Attachment"
                                        },
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 12,
                            "module": "airtable:ActionCreateRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 8393523
                            },
                            "mapper": {
                                "base": "appp66QdLQl2pOSNw",
                                "table": "tblMvFgZipOo1iPw4",
                                "record": {
                                    "fld14Q4yGeYJmSPza": "{{1.fromName}}",
                                    "fld2qbzKlP8J0rEK8": "{{1.subject}}",
                                    "fld8pN7EYeGGyzusG": "{{3.data.choices[].message.content}}",
                                    "fldUIXxx2UcPpPzhy": "Open",
                                    "fldcX8Sn7CKF79bkg": "{{1.fromEmail}}",
                                    "fldhVarrwiHy1DYlx": "{{1.internalDate}}",
                                    "fldrGUowoUdpQuzRB": "{{1.fullTextBody}}"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1353,
                                    "y": 453
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "Customer Support"
                                        },
                                        "table": {
                                            "label": "Support Tickets",
                                            "nested": [
                                                {
                                                    "name": "record",
                                                    "spec": [
                                                        {
                                                            "name": "fld14Q4yGeYJmSPza",
                                                            "type": "text",
                                                            "label": "Customer Name"
                                                        },
                                                        {
                                                            "name": "fldcX8Sn7CKF79bkg",
                                                            "type": "text",
                                                            "label": "Email"
                                                        },
                                                        {
                                                            "name": "fld2qbzKlP8J0rEK8",
                                                            "type": "text",
                                                            "label": "Subject"
                                                        },
                                                        {
                                                            "name": "fldrGUowoUdpQuzRB",
                                                            "type": "text",
                                                            "label": "Message",
                                                            "multiline": true
                                                        },
                                                        {
                                                            "mode": "edit",
                                                            "name": "fld8pN7EYeGGyzusG",
                                                            "type": "select",
                                                            "label": "Category",
                                                            "dynamic": true,
                                                            "options": [
                                                                {
                                                                    "label": "Billing",
                                                                    "value": "Billing"
                                                                },
                                                                {
                                                                    "label": "Technical",
                                                                    "value": "Technical"
                                                                },
                                                                {
                                                                    "label": "General",
                                                                    "value": "General"
                                                                },
                                                                {
                                                                    "label": "Urgent",
                                                                    "value": "Urgent"
                                                                }
                                                            ],
                                                            "validate": false
                                                        },
                                                        {
                                                            "mode": "edit",
                                                            "name": "fldUIXxx2UcPpPzhy",
                                                            "type": "select",
                                                            "label": "Status",
                                                            "dynamic": true,
                                                            "options": [
                                                                {
                                                                    "label": "Open",
                                                                    "value": "Open"
                                                                },
                                                                {
                                                                    "label": "In Progress",
                                                                    "value": "In Progress"
                                                                },
                                                                {
                                                                    "label": "Resolved",
                                                                    "value": "Resolved"
                                                                }
                                                            ],
                                                            "validate": false
                                                        },
                                                        {
                                                            "name": "fldhVarrwiHy1DYlx",
                                                            "time": false,
                                                            "type": "date",
                                                            "label": "Date Received"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Record"
                                                }
                                            ]
                                        },
                                        "record": {
                                            "nested": {
                                                "fld8pN7EYeGGyzusG": {
                                                    "mode": "edit"
                                                },
                                                "fldUIXxx2UcPpPzhy": {
                                                    "mode": "edit"
                                                }
                                            }
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "My Airtable OAuth connection (User ID: usrqW17vGpF6H5dwL)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fld14Q4yGeYJmSPza",
                                                "type": "text",
                                                "label": "Customer Name"
                                            },
                                            {
                                                "name": "fldcX8Sn7CKF79bkg",
                                                "type": "text",
                                                "label": "Email"
                                            },
                                            {
                                                "name": "fld2qbzKlP8J0rEK8",
                                                "type": "text",
                                                "label": "Subject"
                                            },
                                            {
                                                "name": "fldrGUowoUdpQuzRB",
                                                "type": "text",
                                                "label": "Message"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fld8pN7EYeGGyzusG",
                                                "type": "select",
                                                "label": "Category"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldUIXxx2UcPpPzhy",
                                                "type": "select",
                                                "label": "Status"
                                            },
                                            {
                                                "name": "fldhVarrwiHy1DYlx",
                                                "time": false,
                                                "type": "date",
                                                "label": "Date Received"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Customer Name",
                                        "type": "text",
                                        "label": "Customer Name"
                                    },
                                    {
                                        "name": "Email",
                                        "type": "text",
                                        "label": "Email"
                                    },
                                    {
                                        "name": "Subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "Message",
                                        "type": "text",
                                        "label": "Message",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Category",
                                        "type": "text",
                                        "label": "Category"
                                    },
                                    {
                                        "name": "Status",
                                        "type": "text",
                                        "label": "Status"
                                    },
                                    {
                                        "name": "Date Received",
                                        "time": false,
                                        "type": "date",
                                        "label": "Date Received"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 18,
                            "module": "slack:CreateMessage",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 8399278
                            },
                            "mapper": {
                                "text": "🚨 URGENT Support Ticket Received!\r\nFrom: {{1.fromName}}\nEmail: {{1.fromEmail}}\nSubject: {{1.subject}}",
                                "parse": false,
                                "mrkdwn": true,
                                "channel": "#all-love-automation-tech",
                                "channelWType": "manualy"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1669,
                                    "y": 457
                                },
                                "restore": {
                                    "expect": {
                                        "parse": {
                                            "mode": "chose"
                                        },
                                        "mrkdwn": {
                                            "mode": "chose"
                                        },
                                        "link_names": {
                                            "mode": "chose"
                                        },
                                        "channelWType": {
                                            "label": "Enter manually"
                                        },
                                        "unfurl_links": {
                                            "mode": "chose"
                                        },
                                        "unfurl_media": {
                                            "mode": "chose"
                                        },
                                        "reply_broadcast": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "slack3"
                                            },
                                            "label": "My Slack (bot) connection (loveautomationtech.slack.com - make)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:slack2,slack3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "channelWType",
                                        "type": "select",
                                        "label": "Enter a channel ID or name",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "manualy",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "blocks",
                                        "type": "text",
                                        "label": "Blocks"
                                    },
                                    {
                                        "name": "thread_ts",
                                        "type": "text",
                                        "label": "Thread message ID (time stamp)"
                                    },
                                    {
                                        "name": "reply_broadcast",
                                        "type": "boolean",
                                        "label": "Reply broadcast"
                                    },
                                    {
                                        "name": "link_names",
                                        "type": "boolean",
                                        "label": "Link names"
                                    },
                                    {
                                        "name": "parse",
                                        "type": "boolean",
                                        "label": "Parse message text"
                                    },
                                    {
                                        "name": "mrkdwn",
                                        "type": "boolean",
                                        "label": "Use markdown"
                                    },
                                    {
                                        "name": "unfurl_links",
                                        "type": "boolean",
                                        "label": "Unfurl primarily text-based content"
                                    },
                                    {
                                        "name": "unfurl_media",
                                        "type": "boolean",
                                        "label": "Unfurl media content"
                                    },
                                    {
                                        "name": "icon_emoji",
                                        "type": "text",
                                        "label": "Icon emoji"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon url"
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "channel",
                                        "type": "text",
                                        "label": "Channel ID or name",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}
